<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" xdt:Transform="Remove" value="248107852313350" />
    <add key="AppKey" xdt:Transform="Remove" value="cd9fad6cddc843e29533635ae9000abe" />
    <add key="AppId"  xdt:Transform="Insert"  value="1747728482206067" />
    <add key="AppKey"  xdt:Transform="Insert"  value="7d0d208b952cd22172d1ca7a08fbb802" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=d86f0421-9f7b-4d78-aa38-a712000336ef.sqlserver.sequelizer.com;Database=dbd86f04219f7b4d78aa38a712000336ef;User ID=qccocrnvaygtbtwt;Password=K8csrU4XnpGyMEDMW4QAAcFnroyxswYjfZfA66L3krvYihmCBH7jfzsHzWbcuDEX;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
